{% extends "base.html" %}
{% load static %}

{% block title %}
Chatbot
{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "chat/css/styles.css" %}">
{% endblock stylesheets %}

{% block content %}

<div class="chat-container">

    <div id="chat-window" class="chat-window">
        <!-- Chat messages will be appended here -->

        {% include "chat/includes/message.html" %}

        {% include "chat/includes/message.html" %}

    </div>

    <div class="input-area">
        <form class="chat-form" action="" method="POST">
            {% csrf_token %}
            <textarea id="user-input" class="user-input" placeholder="Type a message..." rows="1" required></textarea>
            <button type="submit" class="send-button"><i class="zmdi zmdi-mail-send"></i></button>
        </form>
    </div>
    
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static "chat/js/app.js" %}"></script>
{% endblock scripts %}

