{% load static %}

<div class="message user-message">
    <div class="icon">👤</div>
    <div class="message-box">
        <div class="message-text">I'm looking for information about web development.</div>
    </div>
</div>

<div class="message chatbot-message">
    <div class="icon">🤖</div>
    <div class="message-box">
        <div class="message-text">Sure! Web development encompasses a wide range of topics. Are you interested in front-end, back-end, or full-stack development?</div>
    </div>
</div>