{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>{% block title %}{% endblock title %}</title>
    {% block stylesheets %}
    {% endblock stylesheets %}
</head>
<body>
    {% include "navbar.html" %}

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="close" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
        {% endfor %}
    {% endif %}

    <div class="main-content">
        {% block content %}
    
        {% endblock content %}
    </div>
    
</body>
<script src="{% static "js/app.js" %}"></script>
{% block scripts %}
{% endblock scripts %}
</html>